/* Extra large */
/* @media (min-width: 1200px) and (max-width: 1400px) {
    
    body {
        background-color: red;
    }
  } */

/* Large */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 730px;
        height: 730px;
    }
    .hatch {
        height: 710px;
        
    }
    .form-group-outputs h2 {
        font-size: 100%;
    }
    .slider-container {
        font-size: 80%;
    }
    .slider-container input {
        height: 8px;
    }
    .target-container {
        font-size: 80%;
    }
    .target-container input {
        font-size: 1rem;
        height: 1.5rem;
    }
    .control-buttons button{
        margin-top: 1%;
    }
  }

/* Medium */
@media (max-width: 768px) {
    nav {
        height: 80px;
        background: none;
        box-shadow: 0 0 0;
    }
    .form-container {
        margin-top: 10%;
    }
    .nav-container {
        width: 100%;
        margin-left: 5%;
    }
    .container {
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 2000px;
        border: none;
        border-radius: 0px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        overflow: visible;
    }
    .form-container {
        height: 50%;
        margin-top: 800px;
    }
    .button-spin-border {
        display: none;
    }
    .hatch {
        /* position: fixed;
        top: 0;
        left: 0; */
        width: 100vw;
        border: none;
        border-radius: 0;
        /* margin-top: -800px; */
    }
    .button-container {
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 100%;
        margin: 0;
    }
    .top-metric-display {
        margin-top: 10%;
    }
    .inner-circle {
        height: 400px;
        width: 400px;
        margin: auto 20%;
    }
    .target-container {
        height: auto;
    }
    .inner-readout h2 {
        font-size: 100%;
        margin-top: 50%;
    }
    .form-group-2 {
        display: flex;
        /* text-align: center; */
        margin: 0;
        width: 100%;
        border-width: 2px 0;
        border-style: solid;
        border-color: #222;
        padding: 1% 0;
        /* height: 500px; */
    }
    .form-group-2 h3 {
        /* text-align: center; */
        float: none;
        margin: 0;
    }
    .form-group-2 input {
        width: 50px;
        margin: 0;
    }
    .form-group-2 label {
        /* width: 50px; */
        margin: 0 5%;
    }
    .mobile-view-current,
    .mobile-view-target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 60%;
        height: 50px;
        
    }
    .mobile-view-target {
        min-width: 40%;
        
    }
    .mobile-view-current input {
        /* justify-content: end; */
        /* align-items: end; */
        float: right;
    }
    footer {
        height: 0;       
    }
    .footer-container {
        height: 300px;
        width: 100%;
        margin: 1600px 0;
        color: #fff;
        display:none;
        background-color: #222;
        flex-direction: column;
    }
    .footer-name-logo,
    .copyright-container,
    .footer-icons {
        width: 100%;
        height: 100px;
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    .footer-name-logo p {
        color: #0ff;
    }
  }

  /* Small */
@media (max-width: 576px) {
    .inner-circle {
        margin: auto 13%;
    }
    .slider-container {
        width: 90%;
        margin-left: 2%;
    }
    
  }
/* Extra small */
@media (max-width: 320px) {
    .inner-circle {
        height: 290px;
        width: 290px;
        margin: auto 2%;
    }
    .inner-circle h1 {
        font-size: 500%;
        margin: 30% 0 0 0 ;
    }
    .inner-circle p {
        margin: 0;
    }
    .hatch {
        height: 750px;
    }
    .button-container {
        padding-top: 10%;
    }
    .target-display-group {
        width: 50%;
    }
    .target-display-group h3 {
        font-size: 100%;
    }
  }
  