@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400;500&family=Foldit:wght@500&family=MuseoModerno:wght@200&family=Noto+Sans+JP:wght@100&family=Press+Start+2P&family=Slackside+One&display=swap');

/* GLOBAL STYLES */
html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4E7EB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23C0C0C0' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    min-height: 100%;
    display: flex;
    flex-direction: column;
   
}
nav, footer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #000;
    z-index: 100;
}
nav li, footer li {    
    float: left;
    list-style: none;
    margin-right: 15px;
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
}
nav li:hover {
    color: #0ff;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

p {
    line-height: 180%;
    letter-spacing: 1px;
}
a { 
    text-decoration: none;
}
footer {
    margin-top: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #666;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #000;
    z-index: 100;
}


/* MAIN MENU TEXT AND STYLES */
.active {
    border-bottom: 3px solid #0ff;
}

.nav-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;    
}
.nav-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: 25%;
}


/* HOME PAGE HEADER OVER APP IMAGE */
.brand-logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brand-logo-header img {
    width: 5%;
    border-radius: 5px;
}
.brand-logo-header h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.brand-logo-header h2 {
    text-transform: capitalize;
}
.brand-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.brand-logo img {
    width: 10%;
    border-radius: 5px;
}


/* HOME PAGE/ HERO PAGE MAIN CONTAINER */
.main-home-container {    
    text-align: center;
    width: 1300px;
    padding:1% 2%;
    margin: 6% auto 1%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
}
.home-container-header {
    width: 100%;
    margin-bottom: 3%;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}
.home-container-checklist {
    width: 50%;
    padding: 2% 0 0 3%;
}
.home-image {
    position: relative;
    width: 100%;
    
}
.home-image img {
    width: 100%;
    border-radius: 10px;
}


/* DIV HOLDING THE ICONS FOR THE BUILT WITH SECTION */
.home-built-with {
    position: absolute;    
    top: 0;
    left: 5%;
    width: 50%;
}
.built-with-icons {
    height: 100%;
    width: 200px;
}
.built-with-icons h1 {
    margin: 0;
    font-size: 250%;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}
.built-with-icons h3 {
    margin: 0;
    font-size: 150%;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}
.built-with-icons i {
    width: 50%;
    margin: 40% 0 0 0;
}
.built-with-icons h4 {
    margin: 5% 0 0 0;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}


/* HOME APP POINTS IS THE BULLET POINT LIST CONTAINER OF THE HOME PAGE */
.home-app-points {
    position: absolute;  
    text-align: left;  
    top: 0;
    left: 77%;
    width: 20%;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}
.home-app-points li {
    font-size: 150%;
    line-height: 250%;
    margin-left: -10%;
    list-style: none;
}
.home-app-points img {
    width: 80%;
    margin: 0 20%;
}
.try-button {
    cursor: pointer;
    width: 40%;
    font-size: 1.5rem;
    color: #fff;
    margin: 1% 0 0 0;
    padding: 1% 0;
    border-radius: 10px;
    background-color:  	#0080ff;
    border: none;
    transition: filter 0.5s;
}
.try-button:hover {
    filter: brightness(0.9);
}


/* ABOUT PAGE CONTAINER HOLDING SOME BASIC INFO ON FITNESS ELEMENTS OF THE APP */
.about-container {
    position: relative;
    width: 64%;
    margin: 9% auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    padding: 2% 3%;
    z-index: 80;
}


/* BMI CONTAINER HOLDS THE 5 COLOR LEVELS OF THE BMI GAUGE NUMBERS */
.bmi-container {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}
.bmi-container h3 {
    margin: 0;
}
.underweight-bmi,
.normal-bmi,
.overweight-bmi,
.obese-bmi,
.extremelyobese-bmi {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0080ff;
}
.normal-bmi {
    background-color: green;
}
.overweight-bmi {
    background-color: #ff0;
}
.obese-bmi {
    background-color: orange;
}
.extremelyobese-bmi {
    background-color: #f00;    
}


/* CONTAINER IS THE DIV CONTAINER FOR THE MAIN APP */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 850px;
    border-radius: 11%;
    /* margin: 8% 0 4.5% 30%; */
    border: 10px solid lightgrey;
    box-shadow: inset 0 0 40px #000,
                       0 0 5px #000;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #aaa;
    background-color: #2d2d2d;
}
.container-head {
    float: left;
    width: 100%;
}

/* HATCH REFERS TO THE DOOR PANEL THAT DROPS DOWN TO REVEAL THE SLIDERS AND INPUTS BEHIND IT */
.hatch {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 830px;
    border-radius: 10%;
    margin: 0;    
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    border: 10px solid rgb(199, 198, 198);
    overflow: hidden;
}
.open-close-button {    
    float: left;
    height: 60px;
    width: 60px;
    margin: 2% 47%;
    border-radius: 50%;
    border:2px solid rgba(0,0,0, 0.0);
    animation: spin 2s linear ;
}
.hatch button{
    float: left;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2% 1%;
    font-size: 1rem;
    font-weight: bold;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
    color: #333;
    background-color: lightgrey;
    border:2px solid #aaa;
    animation: spin 0s linear ;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 


/* HATCH DISPLAY CONTAINS EVERYTHING SEEN ON THE FACE OF THE HATCH INCLUDING THE OPEN BUTTON */
.hatch-display {
    float: left;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px grey;
    background-color: lightgrey;
}


/* GAUGE DISPLAY THAT SHOWS THE USER THEIR NUMBERS */
.macro-gauge-display {
    width: 80%;
    height: 80%;
    margin: 9% 10%;
    border-radius: 10%;
    overflow: hidden;
    background: linear-gradient(to top, #000, #0ff) ;
    border: 5px solid rgb(189, 188, 188);
}


/* TOP ROW OF NUMBERS RETURNED TO THE USER */
.top-metric-display {
    width: 100%;
    height: 20%;
}
.target-display-group {    
    text-align: center;
    float: left;
    padding-top: 3%;
    width: 25%;
}
.target-display-group h3 {
    color: #000;
    margin-top: 3%;   
}
.target-display-group h4 {
    color: #000;
    margin-top: 3%;
    font-size: 80%;
}


/* BOTTOM ROW OF NUMBERS RETURNED TO THE USER */
.bottom-metric-display {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 50%;
}
.macro-display-group {
    float: left;
    width: 33%;
}
.macro-display-group h3 {
    color: #0ff;
    margin: 30% 0 0 0;
    font-size: 140%;
}
.macro-display-group h4 {
    color: #0ff;
    margin-top: 3%;
    font-size: 80%;
}

/* CIRCLE CONTAINING CENTERED NUMBER OF CALORIES RETURNED TO THE USER */
.inner-circle {
    float: left;
    width: 50%;
    height: 55%;
    margin:0 25%;
    text-align: center;
    border-radius: 50%;
    color: #000;
    box-shadow: 0 0 20px #0ff;
    background: linear-gradient(to top, #0ff, #000) ;
}
.inner-circle h1{
    margin: 30% 22% 0;
    font-size: 550%;    
}
.inner-circle p{
    font-size: 130%;    
}


/*  INNER READOUT IS THE TOP ROW OF USER INFOR WITHIN THE APP AFTER THE APP IS OPENED */
.inner-readout{
    float: left;
    width: 100%;
    height: 150px;
}
.form-group-outputs {
    float: left;
    width: 16.6%;
    height: 200px;
    margin: 0 0 0 6%;
    text-align: center;
}
.form-group-outputs h2{
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 160%;
}
.form-group-outputs h3 {
    font-size: 12px;
    margin-top: 0;
}
.form-group-outputs hr {
    width: 70%;
}


/* TOP ROW OF NUMBERS RETURNED TO THE USER */
.slider-container {
    float: left;
    width: 100%;
}
.slider-container .form-group {
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 1.5% 0;
}
.form-group {
    float: left;
    width: 16.6%;
    height: 150px;
    margin-top: 5%;
    text-align: center;    
}
.form-group input {
    width: 80%;
    height: 1rem;
    margin: 0;
    border-radius: 5px;
    font-size: 1.2rem;
}
.form-group select {
    width: 80%;
    height: 2.5rem;
    margin-bottom: 1%;
    border-radius: 5px;
    font-size: 1.1rem;
}
.form-group p {
    margin: 0;
}






/* TARGET CONTAINER HOLDS THE CURRENT AND TARGET FIELDS FROM LEFT TO RIGHT */
.target-container{
    float: left;
    width: 100%;
    height: 140px;
    margin: 3% 0 1% 0;
}
.target-container p{
    text-align: center;
    font-size: 70%;
    text-transform: uppercase;
    font-weight: bold;
}
.form-group-2 {
    float: left;
    width: 16.6%;
    height: 90%;
    text-align: left;
    margin-bottom: 0;
}
.form-group-2 input {
    width: 40%;
    height: 2rem;
    margin: 5% 20% 0 0;
    padding-left: 5%;
    border-radius: 15px;
    font-size: 1.2rem;
    background-color: lightgrey;
}
.form-group-2 label {
    margin: 10% 30% 0 0;
}
.form-group-2 h3{
    display: flex;
    float: right;
    margin: 18% 10% 0 0;
}


/* GENDER CONTAINER IS THE BOTTOM DIV OF THE INNER PANEL */
.gender-container {
    float: left;
    width: 100%;
    height: 150px;
    
}
.gender-form-group {
    width: 100%;
    text-align: center;
    color: #999;
}
.control-buttons {
    width: 100%;
    padding: auto 15%;
}
.control-buttons button {
    width: 40% ;
    padding: 1%;
    margin: 5% 0 0 0;
    font-size: 110%;
    color: #fff;
    border-radius: 10px;
    border: 0;
    background-color: #0080ff;
}


/* FOOTER TEXT AND STYLES */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    margin-left: 25%;
}
.copyright-container {
    width: 25%;
}
.copyright-container p {
    font-size: 80%;
}
.footer-name-logo {
    display: flex;
    justify-content: center;
    width: 50%;
}
.footer-name-logo p {
    font-size: 180%;
    font-weight: bolder;
    color: #222;
    font-family: MuseoModerno, Arial, Helvetica, sans-serif;
}
.footer-icons {
    display: flex;
    justify-content: end;
    width: 25%;
}
.footer-icons a{
    margin-right: 10%;
    color: #666;
}


/* HAMBERGER MENU CSS */
.burger-menu-button {
    width: 35px;
    height: 35px;
    display: none;
    cursor: pointer;
  }  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .burger-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: -100vh;
    background-color: #333;
    z-index: 90;
  }
  
  .burger-menu ul {
    margin-top: 10%;
  }
  .burger-menu li {
    width: 100%;
    color: #fff;
    list-style: none;
    text-decoration: none;
  }
  /* OPEN BURGER MENU IS ADDED BY JAVASCRIPT TO OPEN THE BURGER MENU */
  .open-burger-menu {
    margin-top: 0;
  }